@page "/"

<PageTitle>Index</PageTitle>

<header>

    <img src="images/LogoEmpresa.jpg" alt="Logo Empresa">

</header>

<main>

    <section>
        <br>

        <h3>MISION</h3>

        <p>
            Desarrollar una empresa dedicada a la creación e implementación de productos y servicios de software
            apoyándonos permanentemente en criterios innovadores y tecnologías en evolución.


        </p>

        <p>
            Para lograr estos objetivos es fundamental contar con un equipo de profesionales altamente capacitados,
            y con la motivación y compromiso necesarios para proveer un alto valor agregado a nuestros clientes.
            Buscando ser reconocidos y aceptados tanto por el aporte diferencial brindado por nuestros Productos y Servicios
            como por nuestra Cultura empresarial, priorizamos la mejora continúa desarrollándonos en un entorno profesional de negocios
            que asegure la evolución económica de largo plazo, en un clima de trabajo cordial que fomente la creatividad, el respeto por la ética
            comercial y por los valores humanos.

        </p>

        <p>
            Con la convicción que tanto el conocimiento y capacitad técnica como la calidad del servicio de atención al cliente son las que
            diferencian a las Empresas Líderes, ponemos todo el esfuerzo en mejorarlos sostenidamente.
        </p>



    </section>

</main>

<hr />

<footer>
    <p>
        18 calle 2-21 zona 10, Blvd. los Proceres, Ciudad de Guatemala
    </p>

</footer>

