<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gestión de nominas</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agregardepartamento">
                Agregar Departamento
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modificardepartamento">
                Modificar Departamento
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agregarpuesto">
                Agregar Puesto
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modificarpuesto">
                Modificar Puesto
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agregarempleado">
                Agregar Empleado
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modificarempleado">
                Modificar Empleado
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="generarnomina">
                Generar Nomina
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reportenomina">
                Reporte Nomina
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="consultadepartamento">
                Consulta Departamento
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="consultapuesto">
                Consulta Puesto
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="consultaempleado">
                Consulta Empleado
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
